body {
    margin: 0; 
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #60a3e1, #f2a9d8);
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; 
}
.signup-container {
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-box {
  background-image:linear-gradient(#259AD8,#FFCCFF);
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 350px;
}

.logo {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.logo-o {
    color: #4980ed; 
}


.form-container {
  text-align: center;
}

.form-title {
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.signup-button {
  width: 100%;
  padding: 10px;
  background-color: #a155b9;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #8e46a0;
}

.or-divider {
  margin: 20px 0;
  font-size: 0.9rem;
  color: #555;
}

.google-signup {
  
  background: none;
  border: none;
  cursor: pointer;
}

.google-icon {
  height: 50px;
  vertical-align: middle;
}

.login-text {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #555;
}

.login-link {
  color: #a155b9;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}
.signin-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.signin-button:hover {
  background-color: #0056b3;
}
