.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
    height: 6vh;
  }

  .to-do-input {
    height: 100%;
    width: 40%;
  }

  .add-button {
    font-size: 2rem;
    width: 10%;
    height: 100%;
    font-weight: bold;
    padding: 1% 0%;
    border: 1px solid #3e44ff;
    color: #3e44ff;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .add-button:hover {
    box-shadow: 0 0 10px #3e44ff;
    color: white;
    background-color: #3e44ff;
  }