.items-list {
  width: 95%;

}
.task-item {
    display: flex;
    text-align: left;
    padding: 5px 25px;
    gap: 10px;
    margin: 25px;
    border: 1px solid black;
    background-color: white;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
    align-items: center;
  }
  .task-item input[type="checkbox"] {
    cursor: pointer;
  }
  ol {
    padding: 0;
  }

  .text {
    flex: 1;
  }
  .timer-button {
    color: white;
    background-color: #3e44ff;
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.3s ease;
  }
  .timer-button:hover {
    box-shadow: 0 0 10px #3e44ff;
  }
  .timer {
    margin: 15px;
    font-size: 25px;
    color: #555;
  }
  .delete-button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    transition:  0.3s ease;
  }
  .delete-button:hover {
    transform: scale(1.1);
    color: red;
  }

  .timer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }