* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  background-image: url(/public/images/lightblue-gradient-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


.to-do-list {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}
h1 {
  font-family: Arial, sans-serif;
  font-size: 4rem;
  color: white;
  text-align: left;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.413);
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  width: 300px;
  text-align: center;
}

.modal-content h3 {
  margin-bottom: 15px;
}

.modal-content input {
  width: 80%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.modal-buttons button {
  margin: 5px;
  padding: 8px 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.modal-buttons button:first-child {
  background-color: #1d4bc0;
  color: white;
}

.modal-buttons button:first-child:hover {
  background-color: #1d4bc0cb;
  box-shadow:  0 0 10px rgba(0, 0, 3, 3);
}

.modal-buttons button:last-child {
  background-color: #f44336;
  color: white;
}

.modal-buttons button:last-child:hover {
  background-color: #d32f2f;
  box-shadow:  0 0 10px rgba(0, 0, 3, 3);
}
input[type="checkbox"] {
  width: 25px; 
  height: 25px; 
  transform: scale(1.5); 
  cursor: pointer; 
  margin-right: 15px;
}

